/.dvc/config.local
/.dvc/tmp
/.dvc/cache
/data
/notebooks/hp_tuning_test/models
/notebooks/model_experiments/models
/notebooks/model_compression/models
/pipelines/__pycache__
/steps/__pycache__
/__pycache__
/models/
/models/hp_tuning
/mlruns